*{
    margin: 0;
    padding: 0;
}

nav{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: white;
}


#mifoto{
    width: 100%;
    height: auto;
}

#descripcion,#habilidades{
    margin-top: 100px;
}

#descripcion,#habilidades, #mifoto,#descarga{
    border: 0;
    margin: 5px;
    border-radius: 10px;
}

#descripCompleta, #habiliTotales{
    text-align: justify;

}
